# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=
APP_ENV=development

# Database Configuration
DB_DRIVER=mysql
DB_HOST=lab4-khim-lab4-khim.e.aivencloud.com
DB_PORT=26017
DB_USER=avnadmin
DB_PASSWORD=
DB_NAME=lab5-crud
DB_CHARSET=utf8mb4
DB_PREFIX=
